*{
  box-sizing: border-box;
}
body{  
  color:#1b2733;
}
.Payment{
  padding:50px 20px; 
}
.Payment h5{
  font-weight:700;
  margin-bottom:30px;
}
.Order-summary{
  padding:50px 20px; 
  background-color: #f5f5f5;
  width:100%;
  border-left:1px solid #e6e8eb;
}
.Order-summary h5{
  font-weight:700;
  margin-bottom:30px;
}
.Order-summary .summaryList{
  padding:0;
  margin: 0;
  width:100%;
  display:inline-block;
  overflow-x: scroll;
}
.Order-summary .summaryList li{
  list-style:none;
  background: #fff;
  border-radius:3px;
  padding:10px;
  display: grid;
  grid-template-columns: auto 15% 7% 7%;
  grid-gap: 25px;
  width:100%;
  margin-bottom:10px;
}
.Order-summary .sl-imageTitle{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-start;
}
.Order-summary .sl-imageTitle img{
  float:left;
  max-width:100px;
  border: 1px solid #c4c4c4;
  border-radius:3px;
  overflow:hidden;
  margin-right:15px;
}
.Order-summary .sl-imageTitle h3{
  margin:0;
}
.Order-summary .sl-select{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-start;
}
.Order-summary .sl-select select{
  border-radius: 3px;
  min-height: 56px;
  border: 1px solid #c4c4c4;
  margin-top: 8px;
  padding: 10px;
  width: 100%;
}
.Order-summary .sl-itemnumber{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}
.Order-summary .sl-itemnumber input{
   text-align: center;
}
.Order-summary .sl-price{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-start;
    font-size:24px;
    font-weight:bold;
}
.Order-summary .sl-Totalbox{
  background: #fff;
  border-radius:3px;
  padding:10px;
  width:100%;
  display:inline-block;
  margin-top:15px;
}
.Order-summary .sl-Totalbox h2{
  margin:0;
  font-size:22px;
  font-weight:700;
  margin-bottom:10px;
}
.Order-summary .sl-totalPrice{
  font-size:24px;
  text-align:right;
}
.Order-summary .sl-Secure{
  width:100%;
  display:inline-block;
  font-weight:bold;
  color:#6a7887;
  margin-top:5px;
}